<h1 [class]="textRed" [style.font-size]="fontSize">O nome é {{ text }}</h1>

<!--<h1 [class.text-red]="textRed">O nome é {{ text }}</h1>-->

<img [src]="imageUrl" [alt]="imageDesc" [style.width.px]="widthImg">

<button [attr.aria-label]="buttonText" [style.backgroundColor]="bgColor">{{ buttonText }}</button>

<input #input (keyup) = "clicou(input.value)">

{{ input.value }}

<input type="text" class = "fom-control" [(ngModel)]="textInput">
<p class="text-default">{{textInput}}</p>

<!--<app-button></app-button>-->
<app-button [btnText]="'Cancelar'" [btnType]="'btn-danger'"></app-button>
<app-button [btnText]="'Salvar'" [btnType]="'btn-success'"></app-button>
<app-button btnText='Clique aqui' [btnType]="'btn-primary'"></app-button>
<app-button btnText='teste' [btnType]="'btn-default'"></app-button>